.projectCard {
	background-color: hsl(var(--background2));
	border-radius: 32px;
	padding: 40px;
	display: flex;
	/* height: min-content; */
	/* justify-content: center; */
	flex-direction: column;
	gap: 8px;

	border: 1px solid hsl(var(--text) / 20%);
}
.projectCardHeader {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.projectCardLinks {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	gap: 16px;
}
.projectCardTitle {
	font-size: x-large;
	height: min-content;
	font-weight: bold;
}

.projectCardDates {
	font-size: small;
	opacity: 0.6;
}
.badge {
	background-color: hsl(var(--text));
	border-radius: 16px;
	padding: 4px 8px;
	color: hsl(var(--background));
	font-size: small;
}
.projectCardTags {
	display: flex;
	flex-direction: row;
	gap: 8px;
	flex-wrap: wrap;
	margin-top: auto;
}
