.projectCard {
	background-color: hsl(var(--background2));
	border-radius: 32px;
	padding: 40px;
	display: flex;
	/* height: min-content; */
	/* justify-content: center; */
	flex-direction: column;
	gap: 8px;

	border: 1px solid hsl(var(--text) / 20%);
}
.projectCardHeader {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.projectCardLinks {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	gap: 16px;
}
.projectCardTitle {
	font-size: x-large;
	height: min-content;
	font-weight: bold;
}

.projectCardDates {
	font-size: small;
	opacity: 0.6;
}
.badge {
	background-color: hsl(var(--text));
	border-radius: 16px;
	padding: 4px 8px;
	color: hsl(var(--background));
	font-size: small;
}
.projectCardTags {
	display: flex;
	flex-direction: row;
	gap: 8px;
	flex-wrap: wrap;
	margin-top: auto;
}
.projectCardContent {
	transition: height 0.5s;
	list-style-position: inside;
	overflow-y: hidden;
	width: 100%;
	position: relative;
}

.projectCardContentWrapper {
	display: flex;
	flex-direction: column;
	gap: 8px;
	justify-content: center;
	align-items: center;
	padding-block: 1em;
}
.viewMoreBtn {
	background-color: hsl(var(--background2));
	border: 2px dashed hsl(var(--text) / 20%);
	border-radius: 16px;
	padding: 8px 16px;
	cursor: pointer;
	width: max-content;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 1em;
}
.blurContentElem {
	position: absolute;
	bottom: 0;
	background-color: hsl(var(--background2) / 80%);
	backdrop-filter: blur(1px);
	height: 2rem;
	width: 100%;
	/* background-color: red; */
	/* transform: translateY(-28px); */
}
